<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="10" url="index.html">
		<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
		<style>
			
			.column {
			  float: left;
			}
			.row::after {
			  content: "";
			  clear: both;
			  display: table;
			  margin-left: 120%;
			  height: fit-content;
			}
			</style>
</head>
 <body style="height: 100%; width: 100%;  background: black">  
	{% if identifier %}        
	<div style="margin-left: 5%; margin-top: 5%; width: 30%; float: left; background: transparent;"> 
			<img src="static/BIO Y ANT.png"  width="100" height="120"/>
		
		<div style="width: 80%; float: left; background: transparent;"> 
				<p style= "font-variant: small-caps; font-size: 15px; color: white;">
				</br> 
				ANT is a multidisciplinary group that through the integration of Art, <br>Neuroscience, and Technology, seeks to generate both critical and playful devices that reflect on contemporary themes. <br> 
					Promoting Citizen Neuroscience, Citizen Art, and Citizen Technology. <br><br><br>

					BIOFEEDBACK provides an unique experience where generating art from your brain waves.<br><br>
					Your identifier is:
				<form action="/stop" method="post" id="nameformEnd">
					<input type="submit" name="identifier" value="{{ identifier }}" style="background-color: black; font-variant: small-caps; font-size: 15px; color: white;">
				</form>
				<p style="font-variant: small-caps; font-size: 15px; color: white;"><br>DO YOU WANT TO END THE EXPERIENCE?<br></p>
				<button type="submit" form="nameformEnd" value="Submit" style="display: block; border: none; border-radius:10px; background-color: white; padding: 14px 30px; font-size: 12px; cursor: pointer; text-align: center; font-variant: small-caps;">End!</button>
		</div>	
	</div>
		{% if files %}
			<div class="row">
				{%for filename in files: %}

				<div class="column">
					<img src="{{filename}}">
					</div>	
				{% endfor %}
			</div>
		{% endif %}
			
	{% else %}
	<div style="margin-left: 5%; margin-top: 5%; width: 30%; float: left; background: transparent;"> 
		<img src="static/BIO Y ANT.png"  width="100" height="120"/>
		<div id='defaultView' margin-bottom: 30%; background: transparent;display: block; visibility:{{ visibilityStart }}">

			<p style="font-variant: small-caps; font-size: 15px; color: white;">
				<br>
				ANT is a multidisciplinary group that through the integration of Art, <br>Neuroscience, and Technology, seeks to generate both critical and playful devices that reflect on contemporary themes. <br> 
				Promoting Citizen Neuroscience, Citizen Art, and Citizen Technology. <br><br><br>

				BIOFEEDBACK provides an unique experience where generating art from your brain waves.</p>
			<form action="/start" method="post" id="nameformStart">
				<input type="submit" name="identifier" value="{{ identifier }}" style="visibility:  hidden">
			</form>
		
			<p style="font-variant: small-caps; font-size: 15px; color: white;">ARE YOU READY TO LIVE THE EXPERIENCE?</p>

			<button type="submit" form="nameformStart" value="Submit" style="display: block; border: none; border-radius:10px; background-color: white; padding: 14px 30px; font-size: 12px; cursor: pointer; text-align: center; font-variant: small-caps;">Start!</button>
		
		</div>
	</div>
	{% endif %}
 </body>
</html>
</body> 
</html> 


