<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="10">
</head>
 <body style="height: 100%; width: 100%;  background: black">
    <div style="width: 100%">
        <div style="width: 30%; float: left; background: transparent;"> 
            <img src="static/BIO Y ANT.png"  width="400" height="450"/>
	    {% if files %}
		<div style="width: 100% ;"> 
                   <p style="font-variant: small-caps; font-size: 15px; color: white;"> 
			</br> </br> </br> </br> </br> </br> </br> </br> 
			Investigación en humanos </br> 
			Recuerde firmar el concentimiento </br>
			Su identificador es
		   </p>
 		   <p style="font-style: italic;  font-variant: normal; font-size: 15px; color: white;">{{identifier}}</p>
		</div>
	    {% endif %}
        </div>
       {% if files %}
        <div style="margin-left: 20%; height: 100px; background: transparent;"> 
		{%for filename in files: %}
	    		<img src="{{filename}}">
            	{% endfor %}
        </div>
        {% endif %}
    </div>
 </body>
</html>
</body> 
</html> 


